<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="upload.css">
        <title>Voice-Spectrogram Classifier</title>
    </head>
    
    <h3>Voice-Spectrogram Classifier</h3>

    <body>
        <div>
            <style>
                body {
                    background-image: url('bcg.jpg');
                    background-attachment: fixed;
                    
                    background-size: 100% 100%;
                }
            </style>
        </div>

        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
            <input id='choose' type=file name=photo> 
            <input id='submit' type="submit">
        </form>

        
    </body>
</html>